# Django
DEBUG=True
SECRET_KEY=ganti-dengan-secret-key-yang-aman-untuk-production

# PostgreSQL
DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=rahasia123
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# MongoDB
MONGO_DB_NAME=analytics

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest